<script src="~/Scripts/js/Login.js"></script>
<div class="modal fade" id="RegisterModal" role="dialog">
    <div class="modal-dialog">
        <div class="form">
            <ul class="tab-group">
                <li class="tab active"><a href="#login">Zaloguj się</a></li>
                <li class="tab"><a href="#signup">Zarejestruj się</a></li>

            </ul>
            <div class="tab-content">
                <div id="login">
                    <h1>Witaj ponownie!</h1>
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                Adres email<span class="req">*</span>
                            </label>
                            <input type="email" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Hasło<span class="req">*</span>
                            </label>
                            <input type="password" required autocomplete="off" />
                        </div>
                        <p class="forgot"><a href="#">Zapomniałeś/aś hasła?</a></p>
                        <button class="button button-block" data-bind="click: Alert">Zaloguj się</button>
                    </form>
                </div>
                <div id="signup">
                    <form action="/" method="post">

                        <div class="top-row">
                            <div class="field-wrap">
                                <label>
                                    Imię<span class="req">*</span>
                                </label>
                                <input type="text" required autocomplete="off" />
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Nazwisko<span class="req">*</span>
                                </label>
                                <input type="text" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="field-wrap">
                            <label>
                                Adres email<span class="req">*</span>
                            </label>
                            <input type="email" required autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Hasło<span class="req">*</span>
                            </label>
                            <input type="password" required autocomplete="off" />
                        </div>

                        <button type="submit" class="button button-block">Zatwierdź</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        var vm = new ViewModel();
        ko.applyBindings(vm);
</script>